<div class="album py-5 bg-light">
  <div id="post-entries-container" class="container-fluid">
    <%= render @posts %>
  </div>
</div>

<% if !@posts.empty? %>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <nav aria-label="Page navigation example">
      <%= render 'posts/paginator' %>
    </nav>
  </div>
</div>
<% end %>

